/* src/App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #0056b3;
}

h2 {
  margin-bottom: 20px;
  color: #302087;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.1rem;
}

button {
  font-size: 1.1rem;
  background-color: #007bff;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.switch-button {
  font-size: 1.1rem;
  background: none;
  border: none;
  color: #036ad8;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
}

.switch-button:hover {
  color: #fff;
}

.error {
  color: red;
  margin-bottom: 15px;
}
