#form-top-container {
  height: 100vh;
  background-color: #c2f0c2; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#form-container {
  margin-top: 20px;
  max-width: 600px;
  max-height: 700px;
  background-color: white;
  padding: 25px;
  border-radius: 5px;
}

#form-container .header-form {
  font-size: 30px;
  color: gray;
  text-align: center;

}

#form-container .form {
  margin-top: 10px;
}

.input-box {
  margin-top: 10px;
}

.form :where(.input-box input) {
  width: 100%;
  margin-top: 15px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;

}

.input-box label {
  color: gray;
  margin-top: 15px;
}

.form .column {
  display: flex;
  column-gap: 15px;
}

input[type="submit"] {
  margin-top: 30px;
  height: 50px;
  width: 100%;
  background-color: #c2f0c2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #004d00;
}